@tailwind base;
@tailwind components;
@tailwind utilities;

.textShadow {
    text-shadow:
    1px 1px 1px black, 
    1px 1px 1px black, 
    1px 1px 1px black;
    
}
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}